/* styles.css */
.root {
    -fx-background-color: #343541e6;
    -fx-text-fill: white;
}

.note-title {
    -fx-background-color: #343541e6;
    -fx-text-fill: white;
    -fx-border-color: rgb(161, 161, 161);
    -fx-border-radius: 4px;
    -fx-margin: 4px 2px;
}

.label {
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-padding: 2px 5px;
}

.button {
    -fx-background-color: #343541e6;
    -fx-border-color: rgb(161, 161, 161);
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-margin: 4px 2px;
    -fx-border-radius: 3px;
    -fx-effect: none;
}

.button:hover {
    -fx-background-color: rgb(161, 161, 161);
    -fx-border-color: #343541e6;
    -fx-margin: 4px 2px;
    -fx-effect: none;
}

.list-view {
    -fx-background-color: #343541e6;
}

.list-view .list-cell {
    -fx-text-fill: white; 
    -fx-background-color: #343541e6;
}

.text-field{
    -fx-background-color: #343541e6;
    -fx-text-fill: white;
    -fx-border-color:rgb(161, 161, 161);
    -fx-border-radius: 4px;
    -fx-margin: 4px 2px;

}
.text-area {
    -fx-background-color: #343541e6;
    -fx-text-fill: white;
    -fx-control-inner-background: #343541e6;
    -fx-wrap-text: true;

}

.text-area:focused {
    -fx-background-color: #343541e6;
}

.text-area .content {
    
    -fx-text-fill: white;

}