/* styles.css */
.root {
    -fx-background-color: rgb(236, 208, 162);
}

.note-title {
    -fx-background-color: rgb(251, 234, 206);
}


.button {
    -fx-background-color: rgb(251, 234, 206);
    -fx-border-color:  rgb(161, 161, 161);
    -fx-alignment: center;
}

.text-field{
    -fx-background-color: rgb(251, 234, 206);
}
.text-area {
    -fx-width: 100%;
}
.text-area .content {
    -fx-background-color: rgb(236, 208, 162);
}